
.navbar-brand {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.navbar-brand {
    margin-right: 650px;
}
.text-muted {
    margin-left: 110px;
}
.puntos {
    margin-left: 230px;
}